/*.notification {*/
/*	position: fixed;*/
/*	z-index: 1000;*/
/*	padding: 5px;*/
/*	border: 1px solid black;*/
/*	font-size: 20px;*/
/*	background: white;*/
/*	text-align: center;*/
/*}*/

/*.welcome {*/
/*	background: #b80000;*/
/*	color: yellow;*/
/*}*/

/*.visible{*/
/*	display: none;*/
/*}*/

/*#field {*/
/*	width: 200px;*/
/*	border: 10px groove black;*/
/*	background-color: #00FF00;*/
/*	position: relative;*/
/*}*/

/*#ball {*/
/*	position: absolute;*/
/*}*/

/*body{*/
/*	height: 2000px;*/
/*	padding: 0;*/
/*	margin: 0;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*}*/

/*#field {*/
/*	width: 200px;*/
/*	height: 150px;*/
/*	border: 10px solid black;*/
/*	background-color: #00FF00;*/
/*	overflow: hidden;*/
/*	position: relative;*/
/*}*/

/*#ball {*/
/*	position: absolute;*/
/*	transition: 0.5s all;*/
/*}*/

/*.visible{*/
/*	display: none;*/
/*}*/

/*.close::before{*/
/*	content: '▶';*/
/*	color: green;*/
/*}*/

/*.open::before{*/
/*	content:'▼';*/
/*	color: green;*/
/*}*/

/*body {*/
/*	margin: 10px auto;*/
/*	width: 470px;*/
/*}*/

/*h3 {*/
/*	margin: 0;*/
/*	padding-bottom: .3em;*/
/*	font-size: 1.1em;*/
/*}*/

/*p {*/
/*	margin: 0;*/
/*	padding: 0 0 .5em;*/
/*}*/

/*.pane {*/
/*	background: #edf5e1;*/
/*	padding: 10px 20px 10px;*/
/*	border-top: solid 2px #c4df9b;*/
/*	position: relative;*/
/*}*/

/*.remove-button {*/
/*	font-size: 110%;*/
/*	color: darkred;*/
/*	right: 10px;*/
/*	width: 24px;*/
/*	height: 24px;*/
/*	border: none;*/
/*	background: transparent;*/
/*	cursor: pointer;*/
/*}*/

/*.remove-button{*/
/*	position: absolute;*/
/*	top:10px;*/
/*	right: 10px;*/
/*}*/

/*body{*/
/*	background: grey;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*}*/

/*.wrapper{*/
/*	width: 500px;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	flex-wrap: nowrap;*/
/*	background: white;*/
/*	border-radius: 20px;*/
/*}*/
/*.slider{*/
/*	overflow: hidden;*/
/*}*/

/*.img-line{*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	max-width: 390px;*/
/*	position: relative;*/
/*	left:0;*/
/*	transition: 0.5s all;*/
/*}*/

/*image{*/
/*	width: 200px;*/
/*}*/

/*body {*/
/*	margin: 10px auto;*/
/*	width: 470px;*/
/*}*/

/*h3 {*/
/*	margin: 0;*/
/*	padding-bottom: .3em;*/
/*	padding-right: 20px;*/
/*	font-size: 1.1em;*/
/*}*/

/*p {*/
/*	margin: 0;*/
/*	padding: 0 0 .5em;*/
/*}*/

/*.pane {*/
/*	background: #edf5e1;*/
/*	padding: 10px 20px 10px;*/
/*	border-top: solid 2px #c4df9b;*/
/*	position: relative;*/
/*}*/

/*.remove-button {*/
/*	position: absolute;*/
/*	font-size: 110%;*/
/*	top: 0;*/
/*	color: darkred;*/
/*	right: 10px;*/
/*	display: block;*/
/*	width: 24px;*/
/*	height: 24px;*/
/*	border: none;*/
/*	background: transparent;*/
/*	cursor: pointer;*/
/*}*/

table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 4px;
}
th {
	cursor: pointer;
}
th:hover {
	background: yellow;
}

span:hover{
	font-weight: bold;
}
body {
	height: 2000px;
	/* добавим body прокрутку, подсказка должна работать и с прокруткой */
}

button{
	position: relative;
}
.tooltip {
	/* немного стилизуем подсказку, можете использовать свои стили вместо этих */
	position: fixed;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: center;
	font: italic 14px/1.3 sans-serif;
	color: #333;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}